include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include frida-scripts *.js
recursive-include static *
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.swp
global-exclude *.swo
